body{
    background-color: #F6F7C1;
    color: #9384D1;
    text-align: center;
}

.header{
    border-bottom: 2px solid #9384D1;

}

.logo{
    width: 300px;
    height: auto;
    position: relative;
    top: -10px
}